<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>

<body>
    <br>
    <div style="text-align: center">
    <h1> Python을 활용하여 Diary를 작성해보자!</h1>
    <br>
    </div>
    <ul>
        <li><h2><a href="http://192.168.0.63:8080/">오늘의 일정 작성하기</a></h2></li>
        <li><h2><a href="#">일기 리스트</a></h2></li>
    </ul>
</body>
</html>